/*---------------------------------------------------------------*/
/* HTML elements */
/*---------------------------------------------------------------*/
html, body {
    height: 100%;
}
body {
    background: #f2f2f2 url("../img/bg.png") 0 0 repeat;
    font-size: 15px;
}



/*---------------------------------------------------------------*/
/* main layout */
/*---------------------------------------------------------------*/
#main-canvas {
    padding: 20px 0 20px 0;
}
#score-canvas {
    /*margin-right: 25px;*/
}
#content-canvas {
    overflow: auto;
}




/*---------------------------------------------------------------*/
/* flexbox classes */
/*---------------------------------------------------------------*/
.flex-parent-row {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
.flex-item-score-canvas {
    width: 22%;
}
.flex-item-content-canvas {
    width: 75%;
}

/* media queries for the main canvas */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="flex-item-"] {
        width: 100%;
    }
    #main-canvas {
        padding: 20px 0;
    }
    .flex-parent-row {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}




/*---------------------------------------------------------------*/
/* play phase: choice and result */
/*---------------------------------------------------------------*/
.choice-table td, .choice-table th {
    padding: 7px 0;
    text-align: center;
    border-bottom: 1px solid;
}
.choice-table th,
.choice-table th {
    border-top: hidden;
}
.choice-table thead th {
    border: 0;
}
.choice-table caption {
    padding-top: 0;
}

.condition-title, .condition-description, .condition-opponent {
    margin-bottom: 15px;
}
.condition-opponent {
    text-align: center;
    padding: 10px 0;
    border: 1px solid #ddd;
}
.condition-description {
    padding: 10px;
    background-color: rgba(9, 29, 117, 0.07);
    border-radius: 4px;
}

.choice-options {
    margin-top: 30px;
}
.choice-options h5 {
    margin-bottom: 15px;
}




/*---------------------------------------------------------------*/
/* score table */
/*---------------------------------------------------------------*/
.score-table th, .score-table tr:nth-child(1) td {
    border-top: hidden;
}




/*---------------------------------------------------------------*/
/* HEXACO questionnaire */
/*---------------------------------------------------------------*/
.form-check, .custom-radio {
    margin: 0;
}
.form-check-label, .form-check {
    /*display: block;*/
}
span.custom-control-indicator {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hexaco-table td, .hexaco-table th {
    vertical-align: middle;
    font-weight: normal;
    padding: 7px 0;
    border-top: 0;
    border-bottom: 1px solid;
    font-size: 14px;
}
.hexaco-table tbody td:first-of-type{
    width: 50%;
    min-width: 200px;
    text-align: left;
}
.hexaco-table tbody td:not(:first-of-type) {
    text-align: center;
}
.hexaco-table thead th:not(:first-of-type) {
    padding: 7px 15px;
    text-align: center;
}
.hexaco-table thead th {
    border-bottom: 1px solid #ddd;
}
.hexaco-table caption {
    padding: 0;
}










/*---------------------------------------------------------------*/
/* reusable classes */
/*---------------------------------------------------------------*/
.visibility-hidden {
    visibility: hidden;
}
.visibility-visible {
    visibility: visible;
}

.box {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.box-white {
    padding: 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
}
.box-transparent {
    padding: 0 10px;
    color: #2d7091;
}

.title {
    font-size: 24px;
    line-height: 30px;
}




/*---------------------------------------------------------------*/
/* bootstrap overwrites */
/*---------------------------------------------------------------*/
.table td, .table th {
    border-color: #ddd;
}

caption {
    caption-side: top;
    color: inherit;
}

button {
    cursor: pointer;
    width: 300px;
    margin-bottom: 5px;
}

textarea {
    min-height: 150px;
    resize: none;
}


/*---------------------------------------------------------------*/
/* IDs - quick fixes */
/*---------------------------------------------------------------*/
#gameScore {
    line-height: 1.1;
    font-size: 12px;
}





















/* garbage */

.red { border: 1px solid red; }
.blue { border: 1px solid blue; }
.green { border: 1px solid green; }
.maroon { border: 1px solid maroon; }
